@mixin flex($rem) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $rem;
}

.container_1 {
  @include flex(4rem);
  margin-bottom: 1rem
}

.container_2 {
  @include flex(3.5rem);
}

@media (max-width: 784px){
  .container_1,.container_2{
    svg{
      width: 2.5rem;
    }
  }
  .container_1 {
    @include flex(1.6rem);
    margin-bottom: 1rem
  }
  
  .container_2 {
    @include flex(1.2rem);
  }
}