.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapperFlex{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-left: 3rem;
}

.wrapperlong{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.WrapperCards{
    display: flex;
    flex-direction: column;
    gap: 18rem;
    margin-left: 4rem;
}