.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapperFlex{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-left: 3rem;
}

.wrapperlong{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.WrapperCards{
    display: flex;
    flex-direction: column;
    gap: 18rem;
    margin-left: 4rem;
}

@media (max-width: 700px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .wrapperFlex{
        margin-left: 0;
    }

    .wrapperlong{
        display: block;
    }

    .WrapperCards{
        margin-left: 0;
        gap: 10rem;
        margin-bottom: 4rem;
    }
  }