@import "../../../ColorFonts";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: calc(100vh - 25px);
  gap: 1rem;
  h1 {
    font-weight: 800;
    font-size: 5rem;
    cursor: default;
  }
  p {
    max-width: 50ch;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: normal;
    color: $color-gray;
  }
  button {
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 0.6rem 4rem;
    background-color: black;
    border: 1px solid $color-red;
    box-shadow: 1px -2px 38px #fb4e4e;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 0.97rem;
  }
  span {
    color: $color-red;
  }
}
