@import '../../../ColorFonts';

.container{
    .pSecond{
        color: $color-gray;
        width: 50ch;

    }
    .pFirst{
        margin: 1rem 0;
        width: 55ch;
    }
}

.cards{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}

@media (max-width: 700px) {
    .container{
        h1{
            font-size: 1rem;
        }
        .pSecond{
            color: $color-gray;
            width: 100%;
    
        }
        .pFirst{
            margin: 1rem 0;
            width: 100%;
        }
    }
  }