@import "../../../ColorFonts";

.container {
    margin: 8rem 0;
    display: flex;
    justify-content: space-evenly;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    border-radius: 10px;
    gap: 2.5rem;
    text-align: center;
    width: 20rem;
    border: 1px solid #707070;
    height: 25rem;
    padding: 0.5rem;
    a{
        color: $color-red;
        cursor: pointer;
    }
    img {
      width: 4rem;
    }
    button {
      padding: 0.6rem 4rem;
      background-color: black;
      border: 1px solid $color-red;
      box-shadow: 1px -2px 38px #fb4e4e;
      border-radius: 10px;
      color: white;
      font-weight: 500;
      font-size: 0.97rem;
      cursor: pointer;
    }
  }
}


@media (max-width: 700px) {
  .container{
    flex-direction: column;
    gap: 3rem;
    div{
    }
  }
}