@import "../../../ColorFonts";

.container {
    
  .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    width: min-content;
    padding: 0.5rem 0.6rem;
    height: 2rem;
    border-radius: 10px;
    
  }

  img {
    width: 1.9rem;
  }
  h1 {
    font-size: 1.6rem;
    margin: 0.7rem 0;
  }
  p {
    width: 50ch;
    line-height: 1.6rem;
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .container{
    margin-top: 3rem;
    img {
      width: 1.9rem;
    }
    h1 {
      font-size: 1.2rem;
      margin: 0.7rem 0;
    }
    p {
      width: 35ch;
      line-height: 1.6rem;
      font-size: 1rem;
    }
  }
}